*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {

}
h3 {
    color: gray;
}

header {
    background-color: azure;
}

body {
    background-color: aliceblue;
}

#game-container {
    background-color: antiquewhite;
}

#game-area {
    background-color: rgb(170, 217, 217);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#game-area div {
    flex: 0 0 content;
    /* height: 100px;
    width: 100px; */
    text-align: center;
    background-color: lightgreen;
    margin: 5px;
    font-size: 200%;
}

#mystery-word {

}

#results-area {
    background-color: beige;
}

#winCount {

}

#lossCount {

}

#reset-score {

}

#countdown-timer {

}

#countdown {

}

#countdown-text {

}